{% extends 'base.html.twig' %}

{% block title %}Edit Operation{% endblock %}

{% block body %}
    <h1>Edit Operation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Enregistrer</button>

    {{ form_end(form) }}
    
    <a href="{{ path('app_operation') }}" class="btn btn-secondary">Retour à la liste des opérations</a>
{% endblock %}

