{% extends 'base.html.twig' %}

{% block title %}Edit Operation{% endblock %}

{% block body %}
    <h1>Edit Operation</h1>

    {{ include('chiffre_affaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chiffre_affaire_index') }}">back to list</a>

    {{ include('chiffre_affaire/_delete_form.html.twig') }}
{% endblock %}
