{% extends 'base.html.twig' %}

{% block title %}Hello PolitiqueConfidentialiteController!{% endblock %}

{% block body %}

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-danger position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


   <!-- Header Start -->
<div class="container-fluid sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
        <!-- Aligner les éléments à gauche -->
        <div class="navbar-nav" style="margin-left: 50px;"> <!-- Ajoutez une marge à droite -->
            <a href="home/client" class="nav-item nav-link active">Accueil</a>
            <a href="about.html" class="nav-item nav-link">Demande de Prestation</a>
            <a href="product.html" class="nav-item nav-link">Prestation</a>
        </div>
        
        <!-- Logo au centre -->
        <a href="home/client" class="navbar-brand mx-auto">
            <img src="img\Logo.png" alt="propar" style="width: 80px; height: auto;">
        </a>
        
        <!-- Aligner les éléments à droite -->
        <div class="navbar-nav" style="margin-right: 50px;"> <!-- Ajoutez une marge à gauche -->
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Profil</a>
                <div class="dropdown-menu bg-light mt-2">
                    <a href="feature.html" class="dropdown-item">On</a>
                    <a href="how-to-use.html" class="dropdown-item">Verra</a>
                    <a href="testimonial.html" class="dropdown-item">Bien</a>
                    <a href="blog.html" class="dropdown-item">Quoi</a>
                    <a href="404.html" class="dropdown-item">Mettre</a>
                </div>
            </div>
            <a href="contact" class="nav-item nav-link">Contact</a>
            <a href="" class="btn btn-dark py-2 px-4 d-none d-lg-inline-block">Inscription</a>
            <span class="mx-2"></span> <!-- Ajoutez cette ligne pour créer un espace -->
            <a href="" class="btn btn-dark py-2 px-4 d-none d-lg-inline-block">Connexion</a>
        </div>
    </nav>
</div>
<!-- Header End -->








    <!-- Hero Start -->
    <div class="container-fluid bg-danger hero-header mb-5">
        <div class="container">
            <div class="row g-5 align-items-center text-center">
                <div class="col-lg-6 text-lg-start">
                    
                    <h1 class="display-4 text-primary animated slideInRight">Nôtre Politique de confidentialité </h1>
                    <p class="text-info mb-4 animated slideInRight">Dernière mise à jour : [Date]

Nous accordons une importance capitale à la confidentialité de vos informations personnelles. Cette politique de confidentialité vous informe sur la manière dont nous collectons, utilisons et protégeons vos données personnelles. En utilisant notre [site Web/application/service], vous acceptez les pratiques décrites dans cette politique.

<span class="fw-light text-dark">1. Informations que nous collectons</span>

Nous pouvons collecter différentes catégories d'informations personnelles lorsque vous interagissez avec notre [site Web/application/service], notamment :

Informations d'identification : nom, adresse e-mail, numéro de téléphone, etc.
Informations de connexion : adresse IP, informations sur le navigateur, données de connexion, etc.
Informations de paiement : informations de carte de crédit, de compte bancaire, etc.
Données démographiques : âge, sexe, lieu de résidence, etc.
Informations sur l'utilisation : comportement de navigation, pages visitées, interactions, etc.
<span class="fw-light text-dark">2. Comment nous utilisons vos informations</span>

Nous utilisons vos informations personnelles pour les finalités suivantes :

Fournir et gérer nos services.
Personnaliser votre expérience utilisateur.
Traiter les transactions et les paiements.
Vous envoyer des mises à jour, des newsletters et des communications.
Répondre à vos demandes et questions.
Améliorer notre [site Web/application/service].
Respecter nos obligations légales.
<span class="fw-light text-dark">3. Cookies et technologies similaires</span>

Nous utilisons des cookies et d'autres technologies de suivi pour collecter des informations sur votre comportement en ligne. Vous pouvez gérer vos préférences en matière de cookies via les paramètres de votre navigateur.

<span class="fw-light text-dark">4. Partage des informations</span>

Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers sans votre consentement explicite. Cependant, nous pouvons partager vos informations avec :

Nos partenaires de confiance pour fournir des services spécifiques.
Les autorités compétentes en cas de demande légale.
<span class="fw-light text-dark">5. Sécurité des données</span>

Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations personnelles contre la perte, l'accès non autorisé, la divulgation, la modification ou la destruction.

<span class="fw-light text-dark">6. Vos droits</span>

Vous avez le droit d'accéder à vos informations personnelles, de les corriger, de les supprimer ou de vous opposer à leur traitement. Vous pouvez également exercer votre droit à la portabilité des données.

<span class="fw-light text-dark">7. Modification de notre politique de confidentialité</span>

Nous pouvons mettre à jour cette politique de confidentialité de temps à autre pour refléter les modifications de nos pratiques de collecte et de protection des données. La date de la dernière mise à jour sera toujours indiquée en haut de cette politique.

<span class="fw-light text-dark">8. Nous contacter</span>

Si vous avez des questions concernant notre politique de confidentialité ou souhaitez exercer vos droits en matière de données personnelles, veuillez nous contacter à [adresse e-mail ou adresse postale].

Veuillez noter que cette politique de confidentialité est un exemple général et qu'elle doit être adaptée à votre entreprise, à vos services et à votre juridiction spécifiques. Il est recommandé de consulter un professionnel du droit ou un expert en protection des données pour obtenir des conseils juridiques spécifiques à votre situation. </p>
                </div>
               
            </div>
        </div>
    </div>
    <!-- Hero End -->







    
     <!-- Footer Start -->
    <div class="container-fluid bg-danger text-white footer">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <a href="home/client" class="d-inline-block mb-3">
                        <img src="img\Logo.png" alt="propar" style= "width: 100px; height: auto;">
                    </a>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non malesuada consequat, nibh erat tempus risus, vitae porttitor purus nisl vitae purus.</p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="mb-4">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>120 Rue du Luxembourg, 59100, Roubaix</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+33 6 21 45 68 95</p>
                    <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-primary me-1" href="https://twitter.com/GREATTEACHERAZ"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-primary me-1" href="https://www.facebook.com/younes.azj/"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-primary me-1" href="https://www.instagram.com/azj.59/"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-square btn-outline-primary me-1" href="https://www.linkedin.com/in/younes-azaaouaj-105041200/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <h5 class="mb-4">Nos Prestation</h5>
                    <a class="btn btn-link" href="petite/prestation">Petite Prestation</a>
                    <a class="btn btn-link" href="moyenne/prestation">Moyenne Prestation</a>
                    <a class="btn btn-link" href="grosse/prestation">Grosse Prestation</a>
                    
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <h5 class="mb-4">Lien Populaire</h5>
                    <a class="btn btn-link" href="">A Propos de Nous</a>
                    <a class="btn btn-link" href="contact">Contacter Nous</a>
                    <a class="btn btn-link" href="politique/confidentialite">Politique de Confidentialité</a>
                    <a class="btn btn-link" href="">Termes & Condition</a>
                    
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="https://www.instagram.com/azj.59/">PROPAR</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://www.linkedin.com/in/younes-azaaouaj-105041200/">Nassim, Nicolas, Fabien, Younes</a> Distributed by <a href="https://www.afpa.fr/centre/centre-de-roubaix">Afpa</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="petite/prestation" class="btn btn-lg btn-primary btn-lg-square back-to-top bg-danger"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/lib/wow/wow.min.js"></script>
    <script src="js/lib/easing/easing.min.js"></script>
    <script src="js/lib/waypoints/waypoints.min.js"></script>
    <script src="js/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
    <script src="js/main.js"></script>

{% endblock %}
