{% extends 'base.html.twig' %}

{% block title %}Hello MoyennePrestationController!{% endblock %}

{% block body %}

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-danger position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


  <!-- Header Start -->
<div class="container-fluid sticky-top bg-danger">
    <nav class="navbar navbar-expand-lg">
        <!-- Aligner les éléments à gauche -->
        <div class="navbar-nav" style="margin-left: 50px;"> <!-- Ajoutez une marge à droite -->
            <a href="home/client" class="nav-item nav-link active">Accueil</a>
            <a href="about.html" class="nav-item nav-link">Demande de Prestation</a>
            <a href="product.html" class="nav-item nav-link">Prestation</a>
        </div>
        
        <!-- Logo au centre -->
        <a href="home/client" class="navbar-brand mx-auto">
            <img src="img\Logo.png" alt="propar" style="width: 80px; height: auto;">
        </a>
        
        <!-- Aligner les éléments à droite -->
        <div class="navbar-nav" style="margin-right: 50px;"> <!-- Ajoutez une marge à gauche -->
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Profil</a>
                <div class="dropdown-menu bg-light mt-2">
                    <a href="feature.html" class="dropdown-item">On</a>
                    <a href="how-to-use.html" class="dropdown-item">Verra</a>
                    <a href="testimonial.html" class="dropdown-item">Bien</a>
                    <a href="blog.html" class="dropdown-item">Quoi</a>
                    <a href="404.html" class="dropdown-item">Mettre</a>
                </div>
            </div>
            <a href="contact" class="nav-item nav-link">Contact</a>
            <a href="" class="btn btn-dark py-2 px-4 d-none d-lg-inline-block">Inscription</a>
            <span class="mx-2"></span> <!-- Ajoutez cette ligne pour créer un espace -->
            <a href="" class="btn btn-dark py-2 px-4 d-none d-lg-inline-block">Connexion</a>
        </div>
    </nav>
</div>
<!-- Header End -->









    <!-- Hero Start -->
    <div class="container-fluid mb-5 mt-10">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    
                    <h1 class="display-4 text-primary animated slideInRight">Moyenne Prestation </h1>
                    <p class="text-primary mb-4 animated slideInRight">Découvrez notre offre de nettoyage moyenne prestation, une expérience inégalée pour les espaces de plus de 500 mètres carrés ! Vous cherchez à transformer votre environnement en un lieu impeccable et accueillant ? Ne cherchez pas plus loin !
                    Avec notre prestation moyenne, Propar vous offre une solution complète pour répondre à toutes vos exigences de propreté. Imaginez un lieu qui brille dans chaque recoin, un espace où la sophistication, la classe et le luxe se combinent pour créer une atmosphère exceptionnelle.
                    Notre équipe de professionnels hautement qualifiés se charge de tout, du sol au plafond. Chaque détail compte, et nous nous assurons que rien n'est laissé au hasard. Nous utilisons les dernières technologies et les produits de nettoyage les plus efficaces pour garantir des résultats impeccables.
                    De plus, notre prestation moyenne est conçue pour s'adapter à votre emploi du temps. Nous travaillons en toute transparence et flexibilité pour vous offrir une expérience de nettoyage sans tracas. Laissez-nous prendre soin de votre espace, et profitez de la tranquillité d'esprit en sachant que vous êtes entre de bonnes mains.
                    Investissez dans la propreté et l'excellence avec notre prestation moyenne, le choix numéro un pour ceux qui recherchent une solution de nettoyage de qualité supérieure. Contactez-nous dès aujourd'hui pour obtenir un devis personnalisé et découvrez comment nous pouvons transformer votre espace en un lieu exceptionnel. Ne laissez pas la propreté être un souci, faites confiance à Propar pour un nettoyage d'exception à chaque étape du chemin ! </p>
                    <h5 class="text-primary mb-6">$2500</h5>
                    <a href="" class="btn btn-dark py-2 px-4 me-3 animated slideInRight">Faire une Demande</a>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid animated pulse infinite" src="img\Moyenne presta.png" alt="Image Shampoo">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->







    
     <!-- Footer Start -->
    <div class="container-fluid bg-danger text-white footer">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <a href="home/client" class="d-inline-block mb-3">
                        <img src="img\Logo.png" alt="propar" style= "width: 100px; height: auto;">
                    </a>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non malesuada consequat, nibh erat tempus risus, vitae porttitor purus nisl vitae purus.</p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="mb-4">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>120 Rue du Luxembourg, 59100, Roubaix</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+33 6 21 45 68 95</p>
                    <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-primary me-1" href="https://twitter.com/GREATTEACHERAZ"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-primary me-1" href="https://www.facebook.com/younes.azj/"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-primary me-1" href="https://www.instagram.com/azj.59/"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-square btn-outline-primary me-1" href="https://www.linkedin.com/in/younes-azaaouaj-105041200/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <h5 class="mb-4">Nos Prestation</h5>
                    <a class="btn btn-link" href="petite/prestation">Petite Prestation</a>
                    <a class="btn btn-link" href="moyenne/prestation">Moyenne Prestation</a>
                    <a class="btn btn-link" href="grosse/prestation">Grosse Prestation</a>
                    
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <h5 class="mb-4">Lien Populaire</h5>
                    <a class="btn btn-link" href="">A Propos de Nous</a>
                    <a class="btn btn-link" href="contact">Contacter Nous</a>
                    <a class="btn btn-link" href="politique/confidentialite">Politique de Confidentialité</a>
                    <a class="btn btn-link" href="">Termes & Condition</a>
                    
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="https://www.instagram.com/azj.59/">PROPAR</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://www.linkedin.com/in/younes-azaaouaj-105041200/">Nassim, Nicolas, Fabien, Younes</a> Distributed by <a href="https://www.afpa.fr/centre/centre-de-roubaix">Afpa</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="moyenne/prestation" class="btn btn-lg btn-primary btn-lg-square back-to-top bg-danger"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/lib/wow/wow.min.js"></script>
    <script src="js/lib/easing/easing.min.js"></script>
    <script src="js/lib/waypoints/waypoints.min.js"></script>
    <script src="js/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
    <script src="js/main.js"></script>

{% endblock %}
