{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid mb-5">
        <div class="container">
            <div class="row g-5">
                <div class="col">
                    {{ include('prestations/prestation_grosse.html.twig') }}
                </div>
            </div>
            <div class="row g-5">
                <div class="col">
                    {{ include('prestations/prestation_moyenne.html.twig') }}
                </div>
            </div>
            <div class="row g-5">
                <div class="col">
                    {{ include('prestations/prestation_petite.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
