
    <div class="container-fluid mb-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    
                    <h1 class="display-4 text-primary animated slideInRight">Prestation Moyenne</h1>
                    <p class="text-primary mb-4 animated slideInRight">Découvrez notre offre de nettoyage "Prestation Moyenne", une solution parfaite pour les espaces de taille moyenne allant jusqu'à 500 mètres carrés. Cette prestation offre un équilibre entre qualité et prix abordable. Nous sommes déterminés à fournir un nettoyage professionnel qui répond à vos besoins.
                    Avec notre "Prestation Moyenne", vous bénéficierez d'un environnement propre et bien entretenu. Notre équipe d'experts veillera à ce que chaque coin de votre espace soit impeccable et accueillant. Nous utilisons des produits de nettoyage de qualité pour garantir des résultats satisfaisants.
                    La "Prestation Moyenne" de Propar est conçue pour ceux qui cherchent un service de qualité à un prix compétitif. Nous nous engageons à fournir des résultats exceptionnels tout en respectant votre budget.
                    Investissez dans la propreté et la tranquillité d'esprit avec notre "Prestation Moyenne". Contactez-nous dès aujourd'hui pour obtenir un devis personnalisé et découvrez comment nous pouvons améliorer votre environnement.</p>
                    <h5 class="text-primary mb-6">2,500 euros</h5>
                    <a href="{{ path('app_demande') }}" class="btn btn-dark py-2 px-4 me-3 animated slideInRight">Faire une Demande</a>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid animated pulse infinite" src="/img/Moyenne_presta.png" alt="Image Prestation Moyenne">
                </div>
            </div>
        </div>
    </div>

