
    <div class="container-fluid mb-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    
                    <h1 class="display-4 text-primary animated slideInRight">Grosse Prestation </h1>
                    <p class="text-primary mb-4 animated slideInRight">Découvrez notre offre de nettoyage "Grosse Prestation", la quintessence du raffinement et de la perfection pour les espaces de plus de 500 mètres carrés. Vous aspirez à une oasis de propreté, d'ordre, de sophistication, de luxure et de classe ? Ne cherchez pas plus loin, car vous êtes sur le point de vivre une expérience de nettoyage extraordinaire.
                    Avec notre "Grosse Prestation", Propar s'engage à transformer votre environnement en un lieu d'exception. Imaginez un espace où chaque coin brille, où l'ordre règne en maître, et où le moindre détail est soigné avec une minutie obsessionnelle. Nous plaçons la barre très haut en matière de nettoyage professionnel.
                    Notre équipe de spécialistes dévoués excelle dans l'art de la propreté et du raffinement. Nous utilisons les technologies de pointe et des produits de nettoyage de qualité supérieure pour garantir un résultat impeccable. Chacune de nos interventions est orchestrée avec précision pour que votre espace soit toujours au meilleur de sa forme.
                    La "Grosse Prestation" de Propar ne se contente pas de nettoyer ; elle transforme votre environnement en un havre de luxe et d'excellence. Vous méritez le meilleur, et c'est exactement ce que nous vous offrons.
                    Investissez dans la grandeur, l'élégance et la propreté inégalée de notre "Grosse Prestation". Elle est l'ultime choix pour ceux qui recherchent un nettoyage d'exception, un service qui ne fait aucun compromis sur la qualité. Contactez-nous dès aujourd'hui pour obtenir un devis personnalisé et découvrez comment nous pouvons élever votre espace à de nouveaux sommets de luxe et de sophistication. Propar, l'art du nettoyage dans toute sa splendeur ! </p>
                    <h5 class="text-primary mb-6">$10 000</h5>
                    <a href="" class="btn btn-dark py-2 px-4 me-3 animated slideInRight">Faire une Demande</a>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid animated pulse infinite" src="/img/Grosse_presta.png" alt="Image Shampoo">
                </div>
            </div>
        </div>
    </div>
