
    <div class="container-fluid mb-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    
                    <h1 class="display-4 text-primary animated slideInRight">Prestation Petite</h1>
                    <p class="text-primary mb-4 animated slideInRight">Découvrez notre offre de nettoyage "Prestation Petite", idéale pour les petits espaces allant jusqu'à 100 mètres carrés. Cette prestation offre un nettoyage efficace à un prix abordable. Nous nous engageons à maintenir la propreté et la fraîcheur de votre espace.
                    Avec notre "Prestation Petite", vous bénéficierez d'un nettoyage professionnel adapté aux petites surfaces. Nous utilisons des produits de nettoyage de qualité pour garantir des résultats impeccables. Notre équipe dévouée prend soin de chaque détail pour vous offrir un environnement propre et accueillant.
                    La "Prestation Petite" de Propar est conçue pour répondre aux besoins des espaces plus restreints sans sacrifier la qualité. Nous croyons que tout espace mérite d'être propre et agréable.
                    Investissez dans la propreté avec notre "Prestation Petite". Contactez-nous dès aujourd'hui pour obtenir un devis personnalisé et découvrir comment nous pouvons améliorer la qualité de votre petit espace.</p>
                    <h5 class="text-primary mb-6">1,000 euros</h5>
                    <a href="{{ path('app_demande') }}" class="btn btn-dark py-2 px-4 me-3 animated slideInRight">Faire une Demande</a>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid animated pulse infinite" src="/img/Petite_presta.png" alt="Image Prestation Petite">
                </div>
            </div>
        </div>
    </div>

